/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

.slides li{
	position:relative;
}

.content .slides li {
	padding-bottom:0px;
}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { background: #fff; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;height:0px;}
.flex-direction-nav a {
	width: 50px;
	height: 50px;
	display: block;  
	position: absolute;
	top:50%;
	z-index: 10; 
	border-radius:50%;
	cursor: pointer; 
	margin-top:-25px; 
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.flex-direction-nav .flex-next {right:20px;text-align:center;}
.flex-direction-nav .flex-prev {left:20px;text-align:center;}
.flexslider:hover .flex-next {}
.flexslider:hover .flex-prev { }

.flex-direction-nav i{
	font-size:30px;
	line-height:50px;
	color:white;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.flex-direction-nav li{
	padding:0px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
	background-color:white;
	
}

.flexslider:hover .flex-next:hover i, .flexslider:hover .flex-prev:hover i{
	color:#808080;
}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -24px; text-align: center;}
.flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 48px; height: 12px; display: block; background: #cccccc; cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover {}
.flex-control-paging li a.flex-active { background: #000; background: #4d4d4d; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.flex-caption{
	background-color:rgba(51,51,51,.8);
}

.flex-caption-content{
	padding:18px 24px;
	color:white;
}

.caption_left_bottom{
	position:absolute;
	bottom:24px;
	left:24px;
	max-width:400px;
}

.caption_left_top{
	position:absolute;
	top:24px;
	left:24px;
	max-width:400px;
}

.caption_right_top{
	position:absolute;
	top:24px;
	right:24px;
	max-width:400px;
}

.caption_right_bottom{
	position:absolute;
	bottom:24px;
	right:24px;
	max-width:400px;
}

.caption_left{
	position:absolute;
	top:24px;
	left:24px;
	max-width:300px;
	
}

.caption_right{
	position:absolute;
	top:24px;
	right:24px;
	max-width:300px;
}

.caption_bottom{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	text-align:center;
}


.flex-container{
	padding-bottom:24px;
	overflow:hidden;
}
