html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

b,strong{
	font-weight:bold;
}

.content .black{
	color:#333333;
}

i,em{
	font-style:italic;
}

a{
	text-decoration:none;
}

a, a:link , a:visited{
	color:#ffd02d;
}

a:hover{
	color:#333333;
}

.color{
	color:#ffd02d;
}

.cleared{
	clear:both;
}

.content .red{
	color:red;
}

img{
	max-width:100%;
}

body{
	background-color:#262626;
}

ul{
	list-style-type:decimal;
}

ol{
	list-style-type:square;
}

ol ol{
	list-style-type:circle;
}

ul li,ol li{
	margin-left:20px;
}

#body{
	min-height:500px;
}

.content pre{
	margin-bottom:12px;
	padding:24px;
	border:1px solid #e6e6e6;
	background-color:#fafafa;
}

#page{
	
	
	background-color:white;
	border-top:7px solid #ffd02d;
	border-bottom:7px solid #cccccc;
	padding-bottom:24px;
}

#left-column{
	position:fixed;
	width:250px;
	padding:24px 0px 24px 24px;
	
}

#logo{
	padding-bottom:24px;
}

#logo a{
	font-size:30px;
	line-height:30px;
	text-transform:uppercase;
	font-weight:bold;
	font-family:Arial;
	color:#1a1a1a;
}

#side-menu li{
	display:block;
}

#side-menu li a{
	display:inline-block;
	background-color:#f2f2f2;
	color:#333333;
	margin-bottom:6px;
	padding:3px 12px;
	font-family:Arial;
	font-size:13px;
	line-height:18px;
	font-weight:bold;
}

#side-menu li a:hover{
	background-color:#333333;
	color:white;
}

#copyright{
	padding-top:24px;
	font-family:Arial;
	font-size:11px;
	line-height:14px;
	color:#666666;
}

#copyright a{
	color:#666666;
	font-weight:bold;
}

#copyright a:hover{
	color:#8acd83;
}

#body{
	margin-left:274px;
	padding:24px 24px 24px 24px;
}

.content{
	font-family:Arial;
	font-size:13px;
	line-height:18px;
}

.content h1{
	font-size:30px;
	line-height:36px;
	font-weight:bold;
	padding: 90px 0px 36px 0px;
}

.content h2{
	font-size:25px;
	line-height:30px;
	font-weight:bold;
	padding:6px 0px;
	margin-bottom:6px;
}

.content h3{
	font-size:22px;
	line-height:28px;
	font-weight:bold;
	padding:6px 0px;
	margin-bottom:6px;
}

.content h4{
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	margin-bottom:6px;
	padding-top:18px;
}

.content h5{
	font-size:15px;
	line-height:19px;
	font-weight:bold;
	margin-bottom:6px;
}

.content h6{
	font-size:12px;
	line-height:14px;
	font-weight:bold;
	margin-bottom:6px;
}

.content strong{
	color:#ffd02d;
}

.content-section{
	padding-bottom:24px;
}

.section-title{
	border-bottom:1px solid #e6e6e6;
}

.content p{
	margin-bottom:12px;
}

.sub-list{
	list-style-type:disc;
}

.sub-list{
	margin-left:36px;
	padding-bottom:6px;
	list-style-type:disc;
}


ul.highlight{
	list-style-type:disc;
	padding-left:20px;
}

a.big-button{
	display:inline-block;
	padding:10px 20px;
	color:white;
	background-color:#8acd83;
	border-radius:3px;
	font-weight:bold;
	text-transform:uppercase;
}

a.big-button:hover{
	background-color:#333333;
}